.animate-marquee {
  animation: marquee 20s linear infinite;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  min-width: 200%;
}

@media (max-width: 640px) {
  .animate-marquee {
    animation-duration: 30s; 
    gap: 2rem;
    min-width: 200%;
    flex-wrap: nowrap;
    flex-shrink: 0;
  }
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
